.header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    background-color: #333;
    color: #ccc;
    padding: 0 20px;
    align-items: center;
    height: 40px;
}
.header .buttons button {
    margin: 0 5px;
}